jboss-4.2.3.GA/server/default/data/wsdl/los.reference.ear/los.inventory-comp.jar/QueryInventoryBeanService3026124823634925421.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="QueryInventoryBeanService" targetNamespace="http://ws.inventory.los.linogistix.de/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://com.linogistix/inventory" xmlns:tns="http://ws.inventory.los.linogistix.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema targetNamespace="http://com.linogistix/inventory" version="1.0" xmlns:ns1="http://ws.inventory.los.linogistix.de/" xmlns:tns="http://com.linogistix/inventory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="http://ws.inventory.los.linogistix.de/"/>
   <xs:complexType name="InventoryTO">
    <xs:sequence>
     <xs:element minOccurs="0" name="articleRef" type="xs:string"/>
     <xs:element minOccurs="0" name="clientRef" type="xs:string"/>
     <xs:element minOccurs="0" name="lotRef" type="xs:string"/>
     <xs:element minOccurs="0" name="reserved" type="xs:decimal"/>
     <xs:element minOccurs="0" name="available" type="xs:decimal"/>
     <xs:element minOccurs="0" name="locked" type="xs:decimal"/>
     <xs:element minOccurs="0" name="advised" type="xs:decimal"/>
     <xs:element minOccurs="0" name="inStock" type="xs:decimal"/>
     <xs:element name="scale" type="xs:int"/>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="lockList" nillable="true" type="ns1:lockAmountEntry"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType final="#all" name="InventoryTOArray">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:InventoryTO"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
    <xs:schema targetNamespace="http://ws.inventory.los.linogistix.de/" version="1.0" xmlns:tns="http://ws.inventory.los.linogistix.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="InventoryException" type="tns:InventoryException"/>
   <xs:complexType final="extension restriction" name="lockAmountEntry">
    <xs:sequence>
     <xs:element name="lock" type="xs:int"/>
     <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InventoryException">
    <xs:sequence>
     <xs:element minOccurs="0" name="bundleName" type="xs:string"/>
     <xs:element minOccurs="0" name="bundleResolver" type="xs:string"/>
     <xs:element minOccurs="0" name="inventoryExceptionKey" type="tns:inventoryExceptionKey"/>
     <xs:element minOccurs="0" name="key" type="xs:string"/>
     <xs:element minOccurs="0" name="message" type="xs:string"/>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" type="xs:anyType"/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="inventoryExceptionKey">
    <xs:restriction base="xs:string">
     <xs:enumeration value="ADVICE_ASSIGNED"/>
     <xs:enumeration value="ADVICE_POSITIONS_ASSIGNED"/>
     <xs:enumeration value="ADVICE_CAANNOT_BE_ACCEPTED"/>
     <xs:enumeration value="ADVICE_FINISHED"/>
     <xs:enumeration value="ADVICE_MANDATORY"/>
     <xs:enumeration value="ADVICE_REFRESH_ERROR"/>
     <xs:enumeration value="AMBIGUOUS_SCAN"/>
     <xs:enumeration value="AMOUNT_MUST_BE_GREATER_THAN_ZERO"/>
     <xs:enumeration value="ARGUMENT_NULL"/>
     <xs:enumeration value="ARTICLE_NULL"/>
     <xs:enumeration value="CANNOT_BE_DELETED"/>
     <xs:enumeration value="CANNOT_RESERVE_MORE_THAN_AVAILABLE"/>
     <xs:enumeration value="CLIENT_MISMATCH"/>
     <xs:enumeration value="CLIENT_NULL"/>
     <xs:enumeration value="CONSTRAINT_VIOLATION"/>
     <xs:enumeration value="CREATE_AVIS_FAILED"/>
     <xs:enumeration value="CREATE_GOODSRECEIPT"/>
     <xs:enumeration value="CREATE_ORDERREQUEST_FAILED"/>
     <xs:enumeration value="CREATE_ORDERREQUEST_FAILED_WRONG_CLIENT"/>
     <xs:enumeration value="CREATE_STOCKUNIT_ONSTOCK"/>
     <xs:enumeration value="CREATE_STOCKUNIT_ON_STORAGELOCATION_FAILED"/>
     <xs:enumeration value="CREATE_UNITLOAD"/>
     <xs:enumeration value="DESTINATION_UNITLOAD_LOCKED"/>
     <xs:enumeration value="ERROR_CONCURRENT_ACCESS"/>
     <xs:enumeration value="ERROR_GETTING_DEFAULT_UNITLOADTYPE"/>
     <xs:enumeration value="ERROR_NOTIFIEDAMOUNT_NEGATIVE"/>
     <xs:enumeration value="INVENTORY_CREATE_STOCKUNIT_ON_TOP"/>
     <xs:enumeration value="ITEMDATA_EXISTS"/>
     <xs:enumeration value="ITEMDATA_ISLOCKED"/>
     <xs:enumeration value="ITEMDATA_LOT_MISMATCH"/>
     <xs:enumeration value="ITEMDATA_NOT_FOUND"/>
     <xs:enumeration value="ITEMDATA_NOT_ON_UNITLOAD"/>
     <xs:enumeration value="LABEL_NOT_PRINTED"/>
     <xs:enumeration value="LOT_ALREADY_EXIST"/>
     <xs:enumeration value="LOT_ISLOCKED"/>
     <xs:enumeration value="LOT_MANDATORY"/>
     <xs:enumeration value="LOT_MISMATCH"/>
     <xs:enumeration value="LOT_NAME_NULL"/>
     <xs:enumeration value="LOT_NOT_UNIQUE"/>
     <xs:enumeration value="LOT_TOO_YOUNG"/>
     <xs:enumeration value="MUST_SCAN_STOCKUNIT"/>
     <xs:enumeration value="NOT_ACCEPTED"/>
     <xs:enumeration value="NOT_A_FIXED_ASSIGNED_LOCATION"/>
     <xs:enumeration value="NOT_A_GOODSIN_LOCATION"/>
     <xs:enumeration value="NO_EXTINGUISHORDER_WITH_NUMBER"/>
     <xs:enumeration value="NO_GOODS_RECEIPT_LOCATION"/>
     <xs:enumeration value="NO_INVENTORY_FOR_LOT"/>
     <xs:enumeration value="NO_LOT_WITH_NAME"/>
     <xs:enumeration value="NO_PICKREQUEST"/>
     <xs:enumeration value="NO_STOCKUNIT"/>
     <xs:enumeration value="NO_STOCKUNIT_ON_FIXED_ASSIGNED_LOC"/>
     <xs:enumeration value="NO_SUCH_CLIENT"/>
     <xs:enumeration value="NO_SUCH_GOODS_OUT"/>
     <xs:enumeration value="NO_SUCH_ITEMDATA"/>
     <xs:enumeration value="NO_SUCH_LOT"/>
     <xs:enumeration value="NO_SUCH_ORDERPOSITION"/>
     <xs:enumeration value="NO_SUCH_STORAGELOCATION"/>
     <xs:enumeration value="NO_SUCH_UNITLOAD"/>
     <xs:enumeration value="NO_SUITABLE_LOCATION"/>
     <xs:enumeration value="NO_SUITABLE_LOT"/>
     <xs:enumeration value="ORDER_ALREADY_STARTED"/>
     <xs:enumeration value="ORDER_ALREADY_FINISHED"/>
     <xs:enumeration value="ORDER_CANNOT_BE_STARTED"/>
     <xs:enumeration value="ORDER_CANNOT_BE_CREATED"/>
     <xs:enumeration value="PICKORDER_CANNOT_BE_CREATED"/>
     <xs:enumeration value="ORDER_CONSTRAINT_VIOLATED"/>
     <xs:enumeration value="ORDER_NOT_FINIHED"/>
     <xs:enumeration value="ORDER_NOT_FINISHED"/>
     <xs:enumeration value="PICKED_TOO_MANY"/>
     <xs:enumeration value="PICKREQUEST_ALREDAY_FINISHED"/>
     <xs:enumeration value="PICKREQUEST_CONSTRAINT_VIOLATED"/>
     <xs:enumeration value="PICKREQUEST_CREATION"/>
     <xs:enumeration value="PICKREQUEST_NOT_FINISHED"/>
     <xs:enumeration value="PICK_POSITION_CONTRAINT_VIOLATED"/>
     <xs:enumeration value="PICK_UNEXPECTED_NULL"/>
     <xs:enumeration value="PICK_WRONG_SOURCE"/>
     <xs:enumeration value="PICK_WRONG_AMOUNT"/>
     <xs:enumeration value="POSITION_ALREADY_ASSIGNED_ADVICE"/>
     <xs:enumeration value="POSITION_NO_ADVICE"/>
     <xs:enumeration value="REPLENISH_ALREADY_COMES"/>
     <xs:enumeration value="REPLENISH_NOT_NEEDED"/>
     <xs:enumeration value="STOCKUNIT_CONSTRAINT_VIOLATED"/>
     <xs:enumeration value="STOCKUNIT_HAS_RESERVATION"/>
     <xs:enumeration value="STOCKUNIT_IS_LOCKED"/>
     <xs:enumeration value="STOCKUNIT_NO_LOT"/>
     <xs:enumeration value="STOCKUNIT_TRANSFER_FAILED"/>
     <xs:enumeration value="STOCKUNIT_TRANSFER_NOT_ALLOWED"/>
     <xs:enumeration value="STORAGELOCATION_CONSTRAINT_VIOLATED"/>
     <xs:enumeration value="STORAGE_ADD_TO_EXISTING"/>
     <xs:enumeration value="STORAGE_FAILED"/>
     <xs:enumeration value="STORAGE_NO_DESTINATION_FOUND"/>
     <xs:enumeration value="STORAGE_WRONG_LOCATION_BUT_ALLOWED"/>
     <xs:enumeration value="STORAGE_WRONG_LOCATION_NOT_ALLOWED"/>
     <xs:enumeration value="UNIT_LOAD_CONSTRAINT_VIOLATED"/>
     <xs:enumeration value="UNIT_LOAD_EXISTS"/>
     <xs:enumeration value="UNSUFFICIENT_AMOUNT"/>
     <xs:enumeration value="UNSUFFICIENT_RESERVED_AMOUNT"/>
     <xs:enumeration value="CUSTOM_TEXT"/>
     <xs:enumeration value="WRONG_STATE"/>
     <xs:enumeration value="SHIPPING_MSG_NO_GOODSOUT"/>
     <xs:enumeration value="SHIPPING_MSG_WRONG_GOODSOUT"/>
     <xs:enumeration value="UNITLOAD_DELETE_ERROR_STORAGEREQUEST"/>
     <xs:enumeration value="UNIT_LOAD_NOT_EMPTY"/>
     <xs:enumeration value="GOODS_RECEIPT_NOT_FINISHED"/>
     <xs:enumeration value="GOODS_RECEIPT_STOCK_ADDED"/>
     <xs:enumeration value="WRONG_ITEMDATA"/>
     <xs:enumeration value="SERIAL_ALREADY_EXISTS"/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
  </types>
  <message name="QueryInventory_getInventoryByLotResponse">
    <part name="return" type="ns1:InventoryTO">
    </part>
  </message>
  <message name="InventoryException">
    <part name="InventoryException" element="tns:InventoryException">
    </part>
  </message>
  <message name="QueryInventory_getInventoryByLot">
    <part name="clientRef" type="xsd:string">
    </part>
    <part name="articleRef" type="xsd:string">
    </part>
    <part name="lotRef" type="xsd:string">
    </part>
  </message>
  <message name="QueryInventory_getInventoryByArticleResponse">
    <part name="return" type="ns1:InventoryTOArray">
    </part>
  </message>
  <message name="QueryInventory_getInventoryByArticle">
    <part name="clientRef" type="xsd:string">
    </part>
    <part name="articleRef" type="xsd:string">
    </part>
    <part name="consolidateLot" type="xsd:boolean">
    </part>
  </message>
  <message name="QueryInventory_getInventoryListResponse">
    <part name="return" type="ns1:InventoryTOArray">
    </part>
  </message>
  <message name="QueryInventory_getInventoryList">
    <part name="clientRef" type="xsd:string">
    </part>
    <part name="consolidateLot" type="xsd:boolean">
    </part>
  </message>
  <portType name="QueryInventory">
    <operation name="getInventoryByArticle" parameterOrder="clientRef articleRef consolidateLot">
      <input message="tns:QueryInventory_getInventoryByArticle">
    </input>
      <output message="tns:QueryInventory_getInventoryByArticleResponse">
    </output>
      <fault name="InventoryException" message="tns:InventoryException">
    </fault>
    </operation>
    <operation name="getInventoryByLot" parameterOrder="clientRef articleRef lotRef">
      <input message="tns:QueryInventory_getInventoryByLot">
    </input>
      <output message="tns:QueryInventory_getInventoryByLotResponse">
    </output>
      <fault name="InventoryException" message="tns:InventoryException">
    </fault>
    </operation>
    <operation name="getInventoryList" parameterOrder="clientRef consolidateLot">
      <input message="tns:QueryInventory_getInventoryList">
    </input>
      <output message="tns:QueryInventory_getInventoryListResponse">
    </output>
      <fault name="InventoryException" message="tns:InventoryException">
    </fault>
    </operation>
  </portType>
  <binding name="QueryInventoryBinding" type="tns:QueryInventory">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getInventoryByArticle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.inventory.los.linogistix.de/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.inventory.los.linogistix.de/"/>
      </output>
      <fault name="InventoryException">
        <soap:fault name="InventoryException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInventoryByLot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.inventory.los.linogistix.de/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.inventory.los.linogistix.de/"/>
      </output>
      <fault name="InventoryException">
        <soap:fault name="InventoryException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInventoryList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://ws.inventory.los.linogistix.de/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://ws.inventory.los.linogistix.de/"/>
      </output>
      <fault name="InventoryException">
        <soap:fault name="InventoryException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="QueryInventoryBeanService">
    <port name="QueryInventoryBeanPort" binding="tns:QueryInventoryBinding">
      <soap:address location="http://127.0.0.1:8080/webservice/QueryInventoryBean"/>
    </port>
  </service>
</definitions>
